$DesaturedRed: hsl(0, 36%, 70%);
$SoftRed: hsl(0, 93%, 68%);
$DarkGrayishRed: hsl(0, 6%, 24%);

$color-white-1: hsl(0, 0%, 100%);
$color-white-2: hsl(0, 100%, 98%);

$font-weights: (
  "regular": 300,
  "medium": 400,
  "bold": 600,
);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 16px;

  background-image: linear-gradient(135deg, $color-white-1, $color-white-2);
}

.container {
  display: flex;
}

.logo_image {
  width: 15vw;

  margin-left: 60px;
}
.left-column {
  display: flex;
  flex-direction: column;
  margin: 50px;

  h1 {
    text-transform: uppercase;
    margin-top: 70px;
    line-height: 4.5rem;
    font-weight: map-get($font-weights, bold);
    letter-spacing: 8px;
    margin-left: 60px;
    font-size: 80px;

    span {
      color: $DesaturedRed;
      font-weight: map-get($font-weights, regular);
    }
  }
  p {
    color: $DesaturedRed;
    margin: 40px 180px 30px 60px;
    line-height: 1.8rem;
  }
}

form {
  padding: 10px;
  position: relative;

  .error_icon {
    position: absolute;
    z-index: 1;
    left: 23rem;
    top: 20px;
  }

  input {
    margin-left: 50px;
    height: 3rem;
    width: 28rem;
    border-radius: 5rem;
    outline: none;
    border: 1px solid #e3d1d3;

    &::placeholder {
      color: $DesaturedRed;
      opacity: 0.7;
      font-family: "Josefin Sans", sans-serif;
    }
  }
  button {
    height: 3rem;
    width: 5rem;
    border-radius: 5rem;
    border: 1px solid #e3d1d3;
    outline: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    left: 26.8rem;
    z-index: 1;
    background-image: linear-gradient(
      135deg,
      $color-primary-light,
      $color-primary-dark
    );
    background-image: linear-gradient(135deg, $DesaturedRed, $SoftRed);

    &:hover {
      opacity: 0.9;
      box-shadow: 4px 4px 8px #f2d7d6;
    }
  }
}

footer {
  text-align: center;
}
